
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <style>
            body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
            h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
            h1 { font-size: 36px; }
            h2 { font-size: 21px; margin-bottom: 1em; }
            p { margin: 0 0 1em 0; }
            a { color: #0000F0; }
            a:hover { text-decoration: none; }
            code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
            #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
            #container { padding: 1em; border-top: 5px solid #5bc0de;}
            h3 {margin: 0;}
        </style>
        {% block styles %}{% endblock %}
        <title>Welcome to FitzBundle !</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="container">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
    <script>
        var search = document.getElementById('search');
        var bundles = document.querySelectorAll('.col');
        var hideinput = document.querySelector('#hideinstalled');

        search.addEventListener('input', function () {
            hideinput.checked = false;
            bundles.forEach(function (bundle) {
                var composer = bundle.querySelector('.composername').textContent;
                var name = bundle.querySelector('label').textContent;

                if (!composer.includes(search.value) && !name.includes(search.value)) {
                    bundle.classList.add('hide');
                } else {
                    bundle.classList.remove('hide');
                }
            });
        });

        toggleInstalled();
        hideinput.addEventListener('change', function () {
            toggleInstalled();
        });

        function toggleInstalled() {
            bundles.forEach(function (bundle) {
                var installed = bundle.querySelector('.installed');
                if (hideinput.checked) {
                    if (installed) {
                        installed.parentElement.classList.add('hide');
                    }
                } else {
                    if (installed) {
                        installed.parentElement.classList.remove('hide');
                    }
                }
            });
        }
    </script>
</html>
