/vendor/
/composer.lock
/phpunit.xml
/.phpunit/
index.php
Kernel.php
/config/
/var/
.env
.env.test
/src/
/bin/
/templates/
/translations/
###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
